<div class="d-flex justify-content-center mt-4 mb-4">
  <h2 class="primary-color">
    Busqueda de ciudades
  </h2>
</div>

<form [formGroup]="form">
  <div class="row justify-content-center items-center mt-4">
    <div class="col-md-4">
      <pulpoline-autocomplete [fc]="form.controls.q"
                              [options]="filterAutocompleteOptions"
                              [disabledDropdownList]="true"
                              label="Busqueda de ciudades"
                              placeholder="Presiona enter para realizar busqueda..."
                              (result)="getResult($event)">
      </pulpoline-autocomplete>
    </div>
  </div>
</form>

@if (searchResult.length > 0) {
  <div class="row justify-content-center flex-wrap">
    @for (item of searchResult; track item.id) {
      <div class="col-md-4 p-3">
        <pulpoline-card [title]="item.name" [subtitle]="item.alternativeName ?? ''">
          <div class="d-flex justify-content-center mt-3">
            <div class="d-flex justify-content-center pe-2 animatedOpacity">
              <button mat-icon-button color="primary" class="pe-2" matTooltip="Información del clima" (click)="showWeather(item)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>

            <div class="d-flex justify-content-center ps-2 animatedOpacity">
              <button mat-icon-button color="primary" class="pe-2" matTooltip="Agregar como favorito">
                <mat-icon>star</mat-icon>
              </button>
            </div>
          </div>
        </pulpoline-card>
      </div>
    }
  </div>
}
