<mat-form-field class="w-100">
  <mat-label>{{ label }}</mat-label>
  <input  type="text"
          [placeholder]="placeholder"
          matInput
          [formControl]="fc"
          [matAutocomplete]="auto"
          (keyup.enter)="search()">
  <mat-autocomplete #auto="matAutocomplete">
    @if (!disabledDropdownList) {
      @for (option of filterOptions; track option.id) {
        <mat-option [value]="option.name">{{option.name}} {{ option.alternativeName ? ('- ' + option.alternativeName) : '' }}</mat-option>
      }
    }
  </mat-autocomplete>
</mat-form-field>