<mat-dialog-content [@fadeInOut]>
  @if (currentWeather) {
    <div class="d-flex justify-content-center mt-4 mb-4">
      <h4 class="primary-color">
        {{currentWeather.location.name | uppercase}} {{currentWeather.location.country | uppercase}}
      </h4>
    </div>

    <div class="mb-5">
      <p class="dark-color"><span><strong>Temperatura en Celsius: </strong></span>{{ currentWeather.current.temp_c }}</p>
      <p class="dark-color"><span><strong>Temperatura en Fahrenheit: </strong></span>{{ currentWeather.current.temp_f }}</p>
      <p class="dark-color">
        <span><strong>Estado del clima: </strong></span>
        {{ currentWeather.current.condition.text }}
        <img class="w-weather-icon" [src]="currentWeather.current.condition.icon" alt="icono estado del clima">
      </p>
  
      <p class="dark-color"><span><strong>Velocidad del viento en Km: </strong></span>{{ currentWeather.current.wind_kph }}</p>
      <p class="dark-color"><span><strong>Humedad: </strong></span>{{ currentWeather.current.humidity }}</p>
      <p class="dark-color"><span><strong>Hora local de la ciudad: </strong></span>{{ currentWeather.location.localtime }}</p>
    </div>
  } @else {
    @if(!isLoading) {
      <div class="d-flex justify-content-center mt-4 mb-4">
        <div class="border-card-info">
          <p class="pt-3">No se encontraron resultados para esta ciudad</p>
        </div>
      </div>
    }
  }

  <div class="d-flex justify-content-center mt-3 animatedOpacity">
    <button mat-raised-button color="primary" class="custom-btn ms-3" [mat-dialog-close]="true">Cerrar</button>
  </div>
</mat-dialog-content>
