<div class="d-flex justify-content-center mt-4 mb-4">
  <h2 class="primary-color">
    Ciudades Favoritas
  </h2>
</div>

@if (favoritesItems.length > 0) {
  <div class="row justify-content-center flex-wrap">
    @for (item of favoritesItems; track item.id) {
      <div class="col-md-4 p-3">
        <pulpoline-card [title]="item.name" [subtitle]="item.alternativeName ?? ''">
          <div class="d-flex justify-content-center mt-3">
            <div class="d-flex justify-content-center pe-2 animatedOpacity">
              <button mat-icon-button color="primary" class="pe-2" matTooltip="Información del clima" (click)="showWeather(item)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>

            <div class="d-flex justify-content-center ps-2 animatedOpacity">
              <button mat-icon-button color="primary" class="pe-2" [matTooltip]="checkFavoriteElement(item) ? 'Eliminar' : 'Agregar' + ' como favorito'" (click)="handflerFavorite(item)">
                <mat-icon>
                  @if (checkFavoriteElement(item)) {
                    favorite
                  } @else {
                    favorite_border
                  }
                </mat-icon>
              </button>
            </div>
          </div>
        </pulpoline-card>
      </div>
    }
  </div>
} @else {
  <div class="d-flex justify-content-center mt-4 mb-4">
    <div class="border-card-info">
      <p class="pt-3">No se encontraron favoritos seleccionados</p>
    </div>
  </div>
}
